.Cards{
    display: flex;
    gap: 10px;
}
.parentCard{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .Cards{
flex-direction: column;
    }
        
  .parentCard{
    height: 9rem;
  }
        
  }

@media screen and (max-width: 860px) {
    .Cards{
width: 90%;    }
    
        
  }